:root {
    box-sizing: border-box;
    
    --primaryBg: #eee;
    --secondaryBg: cornflowerblue;
    --graphColor: #bbb;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: var(--secondaryBg);
    color: #eee;
}

#inputText {
    width: 99%;
}

#freqTable, #workArea {
    width: 100%;
    border-collapse: collapse;
}

#freqTable th, #freqTable td {
    border-left: 5px solid var(--primaryBg);
    text-align: center;
}

#workArea {
    background-color: #cbd6ea;
    padding: 5px;
}
.guessInput {
    height: 1.5em;
    background-color: #fff;
}

.letterBlock {
    display: inline-block;
    min-width: 1em;
    margin-bottom: 10px;
    text-align: center;
}

.highlight {
    background-color: yellow;
}

.guessInput:hover {
    cursor: pointer;
}